# Environment files
.env
*.env

# Data and logs
data/
!data/
data/*
!data/raw/
data/raw/*
!data/raw/firms/
data/raw/firms/*
!data/raw/firms/historical/
data/raw/firms/historical/*
!data/raw/firms/historical/fire_archive_J1V-C2_617609.csv
!data/raw/firms/historical/fire_archive_M-C61_617608.csv
!data/raw/firms/historical/fire_archive_SV-C2_617611.csv
!data/raw/firms/historical/fire_nrt_J2V-C2_617610.csv
logs/
*.log

# Python artifacts
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.venv/

# Notebook artifacts
.ipynb_checkpoints/

# OS files
.DS_Store

# Misc
test/
